<% layout("/layouts/boilerplate")-%>

<style>
    .delete-btn {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        width: 60%;
        margin: auto;
        background-color: red !important;
        color: white !important;
        border-radius: 10px;
    }
</style>

<body>
    <div class="event-card">
        <div class="event-header">Event Details</div>
        <div class="roboto-mono-webfont">
            <div class="event-card-body">
                <h5 class="event-card-title mb-3">
                    <b><%= event.name %></b>
                </h5>
                <div class="description">
                    <h4 class="card-subtitle mb-2 text-secondary">
                        <%= event.description %>
                    </h4>
                </div>
                <div style="align-items: center;">
                    <div class="date">
                        <% let eventDate = new Date(event.date); %>
                        <% let day = eventDate.getDate(); %>
                        <% let month = eventDate.toLocaleString('default', { month: 'long' }).toUpperCase(); %>
                        <div class="month"><%= month %></div>
                        <div class="day"><%= day %></div>
                    </div>
                </div>
                <ul>
                    <div>
                        <li><p class="event-card-text"><b>Location: <%= event.location %></b></p></li>
                        <li><p class="event-card-text"><b>Timings: <%= event.time %></b></p></li>
                        <li><p class="event-card-text"><b>Capacity: <%= event.capacity %></b></p></li>
                        <h5><b>Organized By: <%= event.organizer %></b></h5>
                    </div>
                </ul>
                <div class="event-links">
                    <a href="<%= event.registrationLink %>" target="_blank" class="event-card-link">
                        Register Now!
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Show delete button only if user is logged in and authorized -->
    <% if (user && (user.email.includes(event.organizer) || user.username.includes(event.organizer))) { %>
        <form action="/details/<%= event._id %>?_method=DELETE" method="POST">
            <div class="mb-3">
                <button class="btn delete-btn" type="submit">Delete this Event!</button>
            </div>
        </form>
    <% } %>
</body>